@media (min-width: 768px) {
  #logoimage {
    width: 100px;
  }
}

@media (max-width: 767px) {
  #logoimage {
    display: none;
  }
}

@media (min-width: 768px) {
  .navigationitemsleft {
    margin-right: 40px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .navigationitemsright {
    margin-left: 40px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  #logoimageonphone {
    display: none;
  }
}

@media (max-width: 767px) {
  .navigationitemsleft {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .navigationitemsright {
    margin-top: 10px;
  }
}

#logoimageonphone {
  width: 100px;
}

.navbar-toggler {
  margin: auto;
}

.nav-link.active {
}

p {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(89, 229, 201, 0.3);
}

